header {
  background: linear-gradient(180deg, #fff, #fff, #fff, #fff, #fff, #0000);
  height: 100px;
}

.nav-link {
  font-size: x-large !important;
}

.nav-link.active {
  color: var(--bs-primary) !important;
}

.offcanvas {
  width: 90% !important;
}
